<div class="channel-banner">
    <div class="channel-banner-brand">
        <img src="{{ url_for('static', filename='img/zaraza_logo.png') }}" alt="Zaraza Channel" class="channel-logo">
        <div class="channel-banner-text">
            <h3>Zaraza Channel</h3>
            <p>Análisis, señales y contenido educativo de trading</p>
        </div>
    </div>
    <div class="channel-links">
        <a href="https://t.me/latinlabstraders" target="_blank" rel="noopener noreferrer" class="channel-link telegram">
            <i class="fab fa-telegram"></i> Telegram
        </a>
        <a href="https://youtube.com/@latinlabstraders" target="_blank" rel="noopener noreferrer" class="channel-link youtube">
            <i class="fab fa-youtube"></i> YouTube
        </a>
        <a href="https://x.com/latinlabstraders" target="_blank" rel="noopener noreferrer" class="channel-link twitter">
            <i class="fab fa-x-twitter"></i> X (Twitter)
        </a>
    </div>
</div>
